.post__hero-container {
  display: flex;
  justify-content: center;
}
.post__hero {
  height: 40%;
}

.post__title {
  left: 0;
  position: fixed;
  top: 20%;
  text-align: center;
  width: 100%;
  font-size: 2em;
  padding-left: 10px;
  padding-right: 10px;
  text-shadow: 2px 2px 2px #000;
}

.post__container {
  background-color: #151515;
  position: relative;
  top: 40%;

  max-width: 900px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}

@media only screen and (max-width: 900px) {
  .post__container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.post__signature {
  display: flex;
  justify-content: flex-end;
  font-style: italic;
  font-family: 'Libre Baskerville', serif;
}

.post__link-to-frontpage {
  margin-top: 2rem;
  white-space: nowrap;
}
