#hero {
    background: url(../static/img/fail.jpg) no-repeat scroll 0 0 #000;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


