.overlay {
  height: 100vh;
  left: 0;
  position: relative;
  top: 0;
  transition: background-color 300ms ease;
  width: 100vw;
  height: 100vh;
}

.overlay-blog {
  height: 40vh;
}

.title {
  backface-visibility: hidden;
  left: 0;
  perspective: 1000;
  position: fixed;
  top: 50%;
  text-align: center;
  width: 100%;
  font-size: 2em;
  padding-left: 10px;
  padding-right: 10px;
}
.title-shadow {
  color: #000 !important;
}

.hero-vid {
  backface-visibility: hidden;
  background: url(../static/img/viipurin-linna.jpg) no-repeat scroll 0 0;
  background-size: cover;
  bottom: 0;
  height: auto;
  width: auto;
  min-width: 100vw;
  min-height: 100vh;
  perspective: 1000;
  position: fixed;
  right: 0;
  z-index: -1;
}

.blog-post-hero {
  background-size: auto 40%;
  background-position: center top;
}

.container {
  background-color: #151515;
  position: relative;
  z-index: 5;
}

.section {
  padding: 50px 50px 50px 50px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.section:not(:last-child) {
  border-bottom: 1px solid #808080;
}

.section-excerpt a {
  text-decoration: none;
}

@media (max-width: 992px) {
  .section {
    padding: 40px 30px 40px 30px;
  }
}

.content {
  margin-top: 1.3rem;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.section:nth-child(even) .content {
  flex-direction: row;
}

.content div {
  margin: 0 30px 0 0;
  flex-basis: 50%;
  flex-grow: 2;
}

.show-more {
  white-space: nowrap;
}
.show-more {
  text-decoration: underline;
}
.show-more.arrow {
  text-decoration: none;
}

.content-pic {
  max-width: 300px;
}
