.arrow {
  display: inline-block;
  border-style: solid;
  border-color: #e0e0d0;
  border-width: 0.1rem 0 0 0.1rem;
  padding: 0.2rem;
}

.arrow-left {
  transform: rotate(-45deg);
}

.arrow-right {
  transform: rotate(135deg);
}

.grayscale,
.grayscale img {
  filter: grayscale(100%);
}
